*.pyc
static/admin
__pycache__
db.sqlite3
.DS_Store
*.swp
/media/
.env
*.log
venv/
*.pyo
*.pyd
.Python
env/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
staticfiles
node_modules
.git
django-shop