{% load static %}
<!DOCTYPE html>
<html lang="{% block html_lang %}vi{% endblock %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Django{% endblock %}</title>
    <meta name="description"
        content="{% block meta_description %}Mô tả mặc định về trang web của bạn (150-160 ký tự){% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}{{ block.super }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ block.super }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'images/og-image.jpg' %}{% endblock %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{% block twitter_url %}{{ request.build_absolute_uri }}{% endblock %}">
    <meta property="twitter:title" content="{% block twitter_title %}{{ block.super }}{% endblock %}">
    <meta property="twitter:description" content="{% block twitter_description %}{{ block.super }}{% endblock %}">
    <meta property="twitter:image" content="{% block twitter_image %}{{ block.super }}{% endblock %}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS -->
    {% include 'layouts/css.html' %}


    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        {% include 'layouts/header.html' %}
    </header>

    <nav>
        {% block navigation %}{% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'layouts/footer.html' %}

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{% block schema_name %}Tên trang web của bạn{% endblock %}",
        "url": "{% block schema_url %}{{ request.build_absolute_uri }}{% endblock %}"
    }
    </script>
    {% include 'layouts/js.html' %}
    {% block extra_js %}{% endblock %}

    {% block analytics %}{% endblock %}
</body>

</html>